


/*theme 1*/
$themeColor1: #0078D7;
$themeColorLighter1: #5fa6ff;
$themeColorDarker1: #004da5 ;
$secondary1: #00bdd7;
$secondaryLighter1: #15cde6;
/*button colors*/
$primarybtn: #4b9acf;
/*button colors*/

/*theme 1*/



/*theme 2*/
$themeColor2: #005596;
$secondary2: #008C45;
$secondaryLighter2: #1ab667;
/*theme 2*/

/*theme color 3*/

$themeColorsidebar3: #2d4a96 ;



/*theme color 3*/

$themeColor: $themeColor1;
$themeColorLighter: $themeColorLighter1;
$themeColorDarker:$themeColorDarker1;
$themeColorsidebar:$themeColorsidebar3;
$secondary: $secondary1 ;
$secondaryLighter: $secondaryLighter1;


