html,body{
    height:100%;
    width:100%;
}
.navbar-nav > li > a{
    padding: 10px 15px!important;
    padding-bottom: 0 !important;
    height: 40px;
    //font-weight:lighter;
}

.navbar {
    min-height: 40px !important;
    border-radius:0;
}
.navbar-brand {
    padding: 0 30px;
    padding-bottom: 0 !important;
    height: 40px;
    line-height:40px;
}
.ms-body {
    //margin-top:50px;
    display: flex;
    min-height: 100%;

    .main-body {
        float: right;
        padding: 10px 15px;
       // background: #efeded;
    }
}