#sidemenu {
  float: left;
  border-right: 1px solid #808080;
  min-height: 100vh;
  min-width: 150px; }
  #sidemenu .tog {
    padding: 10px;
    text-align: right; }
  #sidemenu ul {
    padding-left: 0; }
    #sidemenu ul li {
      list-style: none;
      margin: auto; }
      #sidemenu ul li a {
        padding: 10px 15px;
        display: block;
        text-decoration: none; }
        #sidemenu ul li a:hover {
          background: #F4F4F4; }

