<aside id="sidemenu">
    <div class="tog">
        <a href="#"><i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>
    <ul class="sidemenuli">
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-duplicate"></i>
                <span> Side Menu 1</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-duplicate"></i>
                <span> Side Menu 1</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-duplicate"></i>
                <span> Side Menu 1</span>
            </a>
        </li>
    </ul>
</aside>